:root {
    --primary-color: #82b14e;
}

.test {
    color: red;
}

html {
    background-color: #333333 !important;
}

/* Site Width */
#wrapper, #main, #main.dark {
    background-color: #ffffff
}

.header-main {
    height: 58px
}

#logo img {
    max-height: 58px
}

#logo {
    width: 258px;
}

.header-bottom {
    min-height: 10px
}

.header-top {
    min-height: 20px
}

.transparent .header-main {
    height: 30px
}

.transparent #logo img {
    max-height: 30px
}

.has-transparent + .page-title:first-of-type, .has-transparent + #main > .page-title, .has-transparent + #main > div > .page-title, .has-transparent + #main .page-header-wrapper:first-of-type .page-title {
    padding-top: 30px;
}

.header.show-on-scroll, .stuck .header-main {
    height: 70px !important
}

.stuck #logo img {
    max-height: 70px !important
}

.header-bg-color, .header-wrapper {
    background-color: rgba(43, 43, 43, 0.56)
}

.header-bottom {
    background-color: #f1f1f1
}

@media (max-width: 549px) {
    .header-main {
        height: 70px
    }

    #logo img {
        max-height: 70px
    }
}

/* Color */
.accordion-title.active, .has-icon-bg .icon .icon-inner, .logo a, .primary.is-underline, .primary.is-link, .badge-outline .badge-inner, .nav-outline > li.active > a, .nav-outline > li.active > a, .cart-icon strong, [data-color='primary'], .is-outline.primary {
    color: #82b14e;
}

/* Color !important */
[data-text-color="primary"] {
    color: #82b14e !important;
}

/* Background */
.scroll-to-bullets a, .featured-title, .label-new.menu-item > a:after, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, button[type="submit"], .button.wc-forward:not(.checkout):not(.checkout-button), .button.submit-button, .button.primary:not(.is-outline), .featured-table .title, .is-outline:hover, .has-icon:hover .icon-label, .nav-dropdown-bold .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold > li > a:hover, .nav-dropdown-bold.dark .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold.dark > li > a:hover, .is-outline:hover, .tagcloud a:hover, .grid-tools a, input[type='submit']:not(.is-form), .box-badge:hover .box-text, input.button.alt, .nav-box > li > a:hover, .nav-box > li.active > a, .nav-pills > li.active > a, .current-dropdown .cart-icon strong, .cart-icon:hover strong, .nav-line-bottom > li > a:before, .nav-line-grow > li > a:before, .nav-line > li > a:before, .banner, .header-top, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover, .button.primary:not(.is-outline), input[type='submit'].primary, input[type='submit'].primary, input[type='reset'].button, input[type='button'].primary, .badge-inner {
    background-color: #82b14e;
}

/* Border */
.nav-vertical.nav-tabs > li.active > a, .scroll-to-bullets a.active, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, .accordion-title.active, .featured-table, .is-outline:hover, .tagcloud a:hover, blockquote, .has-border, .cart-icon strong:after, .cart-icon strong, .blockUI:before, .processing:before, .loading-spin, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover {
    border-color: #82b14e
}

.nav-tabs > li.active > a {
    border-top-color: #82b14e
}

.widget_shopping_cart_content .blockUI.blockOverlay:before {
    border-left-color: #82b14e
}

.woocommerce-checkout-review-order .blockUI.blockOverlay:before {
    border-left-color: #82b14e
}

/* Fill */
.slider .flickity-prev-next-button:hover svg, .slider .flickity-prev-next-button:hover .arrow {
    fill: #82b14e;
}

/* Background Color */
[data-icon-label]:after, .secondary.is-underline:hover, .secondary.is-outline:hover, .icon-label, .button.secondary:not(.is-outline), .button.alt:not(.is-outline), .badge-inner.on-sale, .button.checkout, .single_add_to_cart_button {
    background-color: #399912;
}

/* Color */
.secondary.is-underline, .secondary.is-link, .secondary.is-outline, .stars a.active, .star-rating:before, .woocommerce-page .star-rating:before, .star-rating span:before, .color-secondary {
    color: #399912
}

/* Color !important */
[data-text-color="secondary"] {
    color: #399912 !important;
}

/* Border */
.secondary.is-outline:hover {
    border-color: #399912
}

.success.is-underline:hover, .success.is-outline:hover, .success {
    background-color: #399912
}

.success-color, .success.is-link, .success.is-outline {
    color: #399912;
}

.success-border {
    border-color: #399912 !important;
}

body {
    font-size: 100%;
}

@media screen and (max-width: 549px) {
    body {
        font-size: 100%;
    }
}

body {
    font-family: "Open Sans", sans-serif
}

body {
    font-weight: 0
}

body {
    color: #000000
}

.nav > li > a {
    font-family: "Poppins", sans-serif;
}

.nav > li > a {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, .heading-font, .banner h1, .banner h2 {
    font-weight: 0;
}

h1, h2, h3, h4, h5, h6, .heading-font {
    color: #000000;
}

.alt-font {
    font-family: "Noto Sans", sans-serif;
}

.alt-font {
    /*font-weight: 0 !important;*/
}

.absolute-footer, html {
    background-color: #333333
}

.label-new.menu-item > a:after {
    content: "New";
}

.label-hot.menu-item > a:after {
    content: "Hot";
}

.label-sale.menu-item > a:after {
    content: "Sale";
}

.label-popular.menu-item > a:after {
    content: "Popular";
}