@font-face {
    font-family: 'fl-icons';
    src: url("../icons/fl-icons.eot");
    src: url("../icons/fl-icons.eot#iefix") format("embedded-opentype"), url("../icons/fl-icons.woff2") format("woff2"), url("../icons/fl-icons.ttf") format("truetype"), url("../icons/fl-icons.woff") format("woff"), url("../icons/fl-icons.svg#fl-icons") format("svg")
}

.lazy-icons i[class^="icon-"] {
    visibility: visible !important
}
