#wpfomo {
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0,0,0, .1);
    padding: 10px;
    position: fixed;
    bottom: -110px;
    left: 15px;
    min-height: 80px;
    min-width: 330px;
    max-width: 90%;
    z-index: 9999;
    display: flex;
    align-content: center;
    align-items: center;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
#wpfomo.is-visible {
    bottom: 15px;
    left: 15px;
}

.wpfomo-product-thumb-container {
    width: 85px;
    padding-right: 5px;
}

#wpfomo .wpfomo-product-thumb {
    width: 100%;
}
#wpfomo .wpfomo-content-wrapper {
    color: #4d4d4d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 8px;
}

.wpfomo-content-wrapper p {
    margin: 0;
}

#wpfomo .wpfomo-content-wrapper,
#wpfomo .wpfomo-content-wrapper .wpfomo-buyer-name {
    font-size: 13px;
}
.wpfomo-buyer-name {
    font-weight: bolder;
}
#wpfomo .wpfomo-content-wrapper .wpfomo-product-name {
    font-weight: bolder;
    text-decoration: none;
    color: #262625;
    line-height: 2;
    font-size: 1.1em;
}
#wpfomo .wpfomo-content-wrapper .time {
    font-size: .8em;
}
